extends base.pug

block content
  if errorMessage 
    span=errorMessage
  form(method="POST", enctype="multipart/form-data")
    label(for="video") 영상 파일
    input(type="file", accept="video/*", required, id="video", name="video")
    input(type="text", name="title", placeholder="제목", required, maxlength=80)
    input(type="text", name="description", placeholder="설명", required, minlength=20)
    input(type="text", name="hashtags", placeholder="태그, 쉼표로 구분해주세요.", required)
    input(type="submit", value="업로드하기")