extends ../base

block content
  if errorMessage
    p=errorMessage
  form(method="POST")
    input(name="oldPassword", type="password", placeholder="이전 비밀번호")
    input(name="newPassword", type="password", placeholder="새로운 비밀번호")
    input(name="newPasswordConfirmation", type="password", placeholder="새로운 비밀번호 확인")
    input(value="비밀번호 변경", type="submit")